@{
    ViewBag.Title = "AttendanceIntern";
    Layout = "~/Views/Shared/_DashboardIntern.cshtml";
}
<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
             data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
             class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                Dashboard
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">@ViewBag.title</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <div class="row profile-body">
            <div class="col-xl-8 col-xl-12 middle-wrapper mt-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-header">
                                <div class="card-title bg-header text-center text-white mb-0">
                                    <h4>My Attendance</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (TempData["AllertSuccess"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            Swal.fire({
                                                text: '@TempData["AllertSuccess"]',
                                                icon: "success",
                                                buttonsStyling: false,
                                                confirmButtonText: "Ok, got it!",
                                                customClass: {
                                                    confirmButton: "btn btn-primary"
                                                }
                                            });
                                        };
                                    </script>
                                }
                                @if (TempData["AllertError"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            Swal.fire({
                                                text: '@TempData["AllertError"]',
                                                icon: "error",
                                                buttonsStyling: false,
                                                confirmButtonText: "Ok, got it!",
                                                customClass: {
                                                    confirmButton: "btn btn-danger"
                                                }
                                            });
                                        };
                                    </script>
                                }
                                <form action="#">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Input group-->
                                        <div class="position-relative w-md-300px me-md-2">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <input type="date" name="FromDate" id="FromDate" class="form-control form-control-solid ps-10" value="" />
                                        </div>
                                        <div class="position-relative w-md-300px me-md-2">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                            <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <!--end::Svg Icon-->
                                            <input type="date" name="FromDate" id="ToDate" class="form-control form-control-solid ps-10" value="" />
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin:Action-->
                                        <div class="d-flex align-items-center">
                                            <button type="button" class="btn btn-primary me-md-20 btn-icon" id="btnSearch"><i class="las la-search fs-2 me-2"></i></button>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="btn btn-success me-md-2" target="_blank" href="/Intern/PrintActivity">
                                                <i class="las la-cloud-download-alt fs-2 me-2"></i>Download Attendance
                                            </a>
                                            <button class="btn btn-primary" type="button" onclick="return sendEmail()" id="btn-send" data-bs-toggle="modal" data-bs-target="#sendModal">
                                                <i class="las la-mail-bulk me-2 fs-2"></i> Send Email
                                            </button>
                                        </div>
                                        <!--end:Action-->
                                    </div>
                                </form>
                                <div class="row mt-2">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="AttendanceIntern">
                                                <thead>
                                                    <tr>
                                                        <th rowspan="2" class="text-center" width="100px">
                                                            <i data-feather="settings"></i>
                                                        </th>
                                                        <th rowspan="2" class="text-center">
                                                            <i data-feather="calendar"></i>
                                                        </th>
                                                        <th class="text-center" colspan="2">
                                                            Clock
                                                        </th>
                                                        <th class="text-center" rowspan="2">Work Hours</th>
                                                        <th class="text-center" rowspan="2">Status</th>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">IN</td>
                                                        <td class="text-center">Out</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="fullCalModal" class="modal fade">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 id="modalTitle1" class="modal-title"></h5>
                                                    <button type="button" class="close" data-dimiss="modal">
                                                        <span aria-hidden="true">×</span> <span class="sr-only">close</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="#" method="post" id="form_add_user">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="">Date</label>
                                                                    <p id="modalBody1"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <label for="">Activity</label>
                                                                    <textarea name="activity" class="form-control" rows="6"
                                                                              readonly id="activity"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn alert-success"
                                                            data-dismiss="modal">
                                                        Close
                                                    </button>
                                                    </form>
                                                    @*<button class="btn btn-primary">Event Page</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->

<!-- Modal Send Email-->
<div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Attendance Intern</h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor" />
                            <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body">
                <form action="#" method="post" enctype="multipart/form-data" id="frmSendEmail">
                    <label class="fs-6 text-gray-800 text-hover-primary fw-bolder">File</label><br />
                    <p><span class="badge badge-light-danger fs-8">Notes:</span>the file must be obtained from downloading attendance in the daily activity menu</p>
                    <input type="file" id="encryptfilefield" name="uploadedfile" enctype='multipart/form-data'
                           accept=".pdf" required  class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="btnSend">Send Email</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Activity-->
<div class="modal fade" id="modalActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-navy">
                <h5 class="modal-title" id="exampleModalLabel">
                    Create Employee New Hire
                </h5>
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <span class="svg-icon svg-icon-2x">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor" />
                            <path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="modal-body input">
                <form id="formId" action="/Intern/AddDailyActivity" method="POST">
                    <div class="row">
                        <div class="hide">
                            <input type="hidden" required class="form-control" name="Activity_ID" id="Activity_ID"
                                   value="" readonly>
                            <input type="hidden" required class="form-control" name="KPK" id="KPK" value="" readonly>
                            <input type="hidden" required class="form-control" name="Date" id="Date" value="" readonly>>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">Activity</label>
                                <textarea class="form-control" rows="5" name="Activity" id="Activity"></textarea>
                            </div>
                        </div>
                    </div>
</div>
            <div class="modal-footer">
                <button type="button" class="btn alert-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" id="btnactivity" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
        <div class="modal-body hapus h5">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        var min_date = $("#FromDate").val();
        var max_date = $("#ToDate").val();

        var t = $("#AttendanceIntern").DataTable({
            searching: true,
            processing: true,
            scrollY: 670,
            scrollX: true,
            autoWidth: false,
            scrollCollapse: false,
            paging: false,
            order: false,
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excelHtml5',
                customize: function (xlsx) {
                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                    $('row', sheet).each(function (x) {
                        if ($('c[r=G' + x + '] t', sheet).text() === 'ABS') {
                            $('row:nth-child(' + x + ') c', sheet).attr('s', '19');
                        }
                        else if ($('c[r=G' + x + '] t', sheet).text() === 'Public Holiday') {
                            $('row:nth-child(' + x + ') c', sheet).attr('s', '19');
                        }
                        else if ($('c[r=G' + x + '] t', sheet).text() === 'TIMEOFF') {
                            $('row:nth-child(' + x + ') c', sheet).attr('s', '35');
                        }
                    });
                }

            }],
            initComplete: function () {
                var btns = $('.dt-button');
                btns.addClass('btn  alert-primary d-none');
                btns.removeClass('dt-button');
                btns.text('Download Report')
            },
        });
        $("#download_attendance").click(function () {
            $("#AttendanceIntern").table2excel({
                exclude: ".trs",
                name: "Worksheet Name",
                filename: "Attendance Intern",
                fileext: ".xlsx",
                preserveColors: true,
                exclude_img: true
            });
        });
        t.columns.adjust().draw();
        loadData(min_date, max_date);

        // function to load data
        function loadData(min_date, max_date) {
            return $.ajax({
                url: "/Intern/ListAttendanceForIntern?min_date=" + min_date + "&max_date=" + max_date,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var html = '';
                    var counter = 1;

                    // delete existing row if any
                    t.clear().draw();

                    $.each(data, function (key, item) {
                        var day = item.test;
                        var strday = day.substring(0, 3);
                        var a = day.split(",")[1];
                        var today = new Date();
                        var dd = String(today.getDate()).padStart(2, '0');
                        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                        var yyyy = today.getFullYear();
                        var today = mm + '/' + dd + '/' + yyyy;

                        var currdate = new Date(today)
                        var cmpdate = new Date(a)
                        if (strday == "Sat") {
                            html += '<tr class="itemRow text-black bg-grey">';
                            if ((item.ClockIn == null || item.ClockOut == null) && (item.Activity == null || item.Activity == "")) {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded bg-disabled btn-sm" disabled>Activity</button>';
                            }
                            else if ((item.ClockIn != null || item.ClockOut != null) && (item.Activity == null || item.Activity == "")) {
                                html += '<td class="text-center"><button type="button" class="btn btn-sm btn-danger btn-rounded btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity">Activity</button>';
                            }
                            else if ((item.ClockIn != null || item.ClockOut != null) && (item.Activity != null || item.Activity != "")) {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded btn-primary btn-sm btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity">Activity</button>';
                            }
                            else {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded bg-grey btn_editRow">Activity</button>';
                            }
                            html += '<td>' + item.test + '</td>';
                            if (item.ClockIn == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockIn + '</td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="' + item.ClockIn + '" />'
                            }
                            if (item.ClockOut == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockOut + '</td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="' + item.ClockOut + '" />'
                            }
                            if (item.total_hour == null) {
                                html += '<td class="text-center"></td>';
                            }
                            else {
                                html += '<td class="text-center">' + item.total_hour + ' Hours</td>';
                            }
                            if (item.Entry_Date_Time == null && item.Entry_Out != null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock IN</span></td>';
                            }
                            else if (item.Entry_Date_Time != null && item.Entry_Out == null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock Out</span></td>';
                            }
                            else if (item.Entry_Date_Time == null && item.Entry_Out == null && item.Date_public_holidays != null) {
                                html += '<td class="text-center "><span class="badge badge-light-warning">Public Holiday</span></td>';
                            }
                            else if (item.Entry_Date_Time != null && item.Entry_Out != null) {
                                html += '<td class="text-center "><span class="badge badge-light-success">ATN</span></td>';
                            }
                            else {
                                html += '<td class="text-center text-bold">REST DAY</td>';
                            }
                            html += '<input type="hidden" class="KPKValue" name="KPKValue" value="' + item.KPK + '" />'
                            html += '<input type="hidden" class="DateValue" name="DateValue" value="' + a + '" />'
                            if (item.Activity_ID == null) {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="' + item.Activity_ID + '" />'
                            }
                            if (item.Activity == null || item.Activity == "") {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="' + item.Activity + '" />'
                            }

                            html += '</tr>';
                            counter++;
                        }
                        else if (strday == "Sun") {
                            html += '<tr class="itemRow text-black bg-grey">';
                            if ((item.ClockIn == null || item.ClockOut == null) && (item.Activity == null || item.Activity == "")) {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded bg-disabled btn-sm" disabled>Activity</button>';
                            }
                            else if ((item.ClockIn != null || item.ClockOut != null) && (item.Activity == null || item.Activity == "")) {
                                html += '<td class="text-center"><button type="button" class="btn btn-sm btn-danger btn-rounded btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity">Activity</button>';
                            }
                            else if ((item.ClockIn != null || item.ClockOut != null) && (item.Activity != null || item.Activity != "")) {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded btn-primary btn-sm btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity">Activity</button>';
                            }
                            else {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded bg-grey btn_editRow">Activity</button>';
                            }
                            html += '<td>' + item.test + '</td>';
                            if (item.ClockIn == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockIn + '</td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="' + item.ClockIn + '" />'
                            }
                            if (item.ClockOut == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockOut + '</td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="' + item.ClockOut + '" />'
                            }
                            if (item.total_hour == null) {
                                html += '<td class="text-center"></td>';
                            }
                            else {
                                html += '<td class="text-center">' + item.total_hour + ' Hours</td>';
                            }
                            if (item.Entry_Date_Time == null && item.Entry_Out != null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock IN</span></td>';
                            }
                            else if (item.Entry_Date_Time != null && item.Entry_Out == null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock Out</span></td>';
                            }
                            else if (item.Entry_Date_Time == null && item.Entry_Out == null && item.Date_public_holidays != null) {
                                html += '<td class="text-center "><span class="badge badge-light-warning">Public Holiday</span></td>';
                            }
                            else if (item.Entry_Date_Time != null && item.Entry_Out != null) {
                                html += '<td class="text-center "><span class="badge badge-light-success">ATN</span></td>';
                            }
                            else {
                                html += '<td class="text-center text-bold">REST DAY</td>';
                            }
                            html += '<input type="hidden" class="KPKValue" name="KPKValue" value="' + item.KPK + '" />'
                            html += '<input type="hidden" class="DateValue" name="DateValue" value="' + a + '" />'
                            if (item.Activity_ID == null) {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="' + item.Activity_ID + '" />'
                            }
                            if (item.Activity == null || item.Activity == "") {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="' + item.Activity + '" />'
                            }
                            html += '</tr>';
                            counter++;
                        }
                        else if (item.ClockIn == null && item.ClockOut == null) {
                            html += '<tr class="itemRow">';
                            if (item.ClockIn == null || item.ClockOut == null && item.Activity == null || item.Activity == "") {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded bg-disabled btn-sm" disabled>Activity</button>';
                            }
                            else if (item.ClockIn != null || item.ClockOut != null && item.Activity == null || item.Activity == "") {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded btn-sm btn-danger">Activity</button>';
                            }
                            else if (item.ClockIn != null || item.ClockOut != null && item.Activity != null || item.Activity != "") {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded btn-primary btn-sm btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity">Activity</button>';
                            }
                            else {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded bg-grey btn_editRow">Activity</button>';
                            }
                            html += '<td>' + item.test + '</td>';
                            if (item.ClockIn == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockIn + '</td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="' + item.ClockIn + '" />'
                            }
                            if (item.ClockOut == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockOut + '</td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="' + item.ClockOut + '" />'
                            }
                            if (item.total_hour == null) {
                                html += '<td class="text-center"></td>';
                            }
                            else {
                                html += '<td class="text-center">' + item.total_hour + ' Hours</td>';
                            }
                            if (item.Entry_Date_Time == null && item.Entry_Out != null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock IN</span></td>';
                            }
                            else if (item.Entry_Date_Time != null && item.Entry_Out == null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock Out</span></td>';
                            }
                            else if (item.Entry_Date_Time == null && item.Entry_Out == null && item.Date_public_holidays == null && cmpdate <= currdate) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">ABS</span></td>';
                            }
                            else if (item.Entry_Date_Time == null && item.Entry_Out == null && item.Date_public_holidays != null) {
                                html += '<td class="text-center "><span class="badge badge-light-warning">Public Holiday</span></td>';
                            }
                            else {
                                html += '<td class="text-center "></td>';
                            }
                            html += '<input type="hidden" class="KPKValue" name="KPKValue" value="' + item.KPK + '" />'
                            html += '<input type="hidden" class="DateValue" name="DateValue" value="' + a + '" />'
                            if (item.Activity_ID == null) {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="' + item.Activity_ID + '" />'
                            }
                            if (item.Activity == null || item.Activity == "") {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="' + item.Activity + '" />'
                            }
                            html += '</tr>';
                            counter++;
                        }
                        else {
                            html += '<tr class="itemRow text-black">';
                            if (item.ClockIn == null || item.ClockOut == null) {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded btn-sm btn-danger" >Activity</button>';
                            }
                            else if (item.Activity == null || item.Activity == "") {
                                html += '<td class="text-center"><button type="button" class="btn btn-sm btn-danger btn-rounded btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity"">Activity</button>';
                            } else {
                                html += '<td class="text-center"><button type="button" class="btn btn-rounded btn-primary btn-sm btn_editRow" data-bs-toggle="modal" data-bs-target="#modalActivity"">Activity</button>';
                            }
                            html += '<td>' + item.test + '</td>';
                            if (item.ClockIn == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockIn + '</td>';
                                html += '<input type="hidden" class="ClockInValue" name="ClockInValue" value="' + item.ClockIn + '" />'
                            }
                            if (item.ClockOut == null) {
                                html += '<td class="text-center"></td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="" />'
                            }
                            else {
                                html += '<td class="text-center">' + item.ClockOut + '</td>';
                                html += '<input type="hidden" class="ClockOutValue" name="ClockOutValue" value="' + item.ClockOut + '" />'
                            }
                            if (item.total_hour == null) {
                                html += '<td class="text-center"></td>';
                            }
                            else {
                                html += '<td class="text-center">' + item.total_hour + ' Hours</td>';
                            }
                            if (item.Entry_Date_Time == null && item.Entry_Out != null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock IN</span></td>';
                            }
                            else if (item.Entry_Date_Time != null && item.Entry_Out == null) {
                                html += '<td class="text-center "><span class="badge badge-light-danger">No Clock Out</span></td>';
                            }
                            else {
                                html += '<td class="text-center "><span class="badge badge-light-success">ATN</span></td>';
                            }
                            html += '<input type="hidden" class="KPKValue" name="KPKValue" value="' + item.KPK + '" />'
                            html += '<input type="hidden" class="DateValue" name="DateValue" value="' + a + '" />'
                            if (item.Activity_ID == null) {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityIdValue" name="ActivityIdValue" value="' + item.Activity_ID + '" />'
                            }
                            if (item.Activity == null || item.Activity == "") {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="" />'
                            }
                            else {
                                html += '<input type="hidden" class="ActivityValue" name="ActivityValue" value="' + item.Activity + '" />'
                            }
                            html += '</tr>';
                            counter++;
                        }
                    });

                    t.rows.add($(html)).draw();
                    t.columns.adjust().draw();
                    $("#item_name").select2({
                        dropdownParent: $("#itemRequestModal"),
                        placeholder: "Choose an item...",
                        theme: "classic"
                    });
                },
                error: function (textStatus, status) {
                    console.log(textStatus);
                    console.log(status);
                }
            });
        }

        // Display value for selected item to be edited
        $(document).on("click", ".btn_editRow", function (e) {
            $('#modalActivity').modal({
                backdrop: false,
                keyboard: false
            });
            e.preventDefault();

            var self = $(this);
            var kpkvalue = self.closest("tr").find("input[name='KPKValue']").val();
            var datevalue = self.closest("tr").find("input[name='DateValue']").val();
            var activityidvalue = self.closest("tr").find("input[name='ActivityIdValue']").val();
            var activityvalue = self.closest("tr").find("input[name='ActivityValue']").val();

            $('.modal-title').html('Add Activity ' + datevalue + '');
            // assigning object value to the field
            $("#KPK").val(kpkvalue);
            $("#Date").val(datevalue);
            $("#Activity_ID").val(activityidvalue);
            $("#Activity").val(activityvalue);

            $('.modal-dialog').addClass('modal-sm');
            $('.modal-dialog').removeClass('modal-sm');
            $('#btnactivity').html('Save');
            $('.hapus').addClass('d-none');
            $('.input').removeClass('d-none');

            $('#btnactivity').click(function () {
                //swal({
                //    title: "Update...",
                //    text: "Please wait",
                //    icon: "/Content/images/icon/loading2.gif",
                //    button: false,
                //    showConfirmButton: false,
                //    allowOutsideClick: false
                //    //icon: "success"
                //});
                $("#modalActivity").modal('hide');
                swal("Success", 'You have sucessfully update activity', "success");
                var kpkupdate = $("#KPK").val();
                var dateupdate = $("#Date").val();
                var activityidupdate = $("#Activity_ID").val();
                var activityupdate = $("#Activity").val();

                //$.ajax({
                //    url: "/Intern/AddActivity?KPK=" + kpkupdate + "&Date=" + dateupdate + "&Activity=" + activityupdate + "&Activity_ID=" + activityidupdate,
                //    type: "POST",
                //    contentType: "application/json;charset=utf-8",
                //    dataType: "json",
                //    success: function () {
                //        loadData(min_date, max_date);
                //    },
                //    error: function (xhr, textStatus, error) {
                //        swal("Oops...!", 'Something went wrong!', "error");
                //        console.log(xhr.responseText);
                //        console.log(xhr.statusText);
                //        console.log(textStatus);
                //        console.log(error);
                //    }
                //});
            });
        });


        $('#btnSearch').click(function () {
            loadData($("#FromDate").val(), $("#ToDate").val());
        });
    });
    function reload() {
        location.href = "/Intern/AttendanceIntern";
    }
    function sendEmail() {
        $("#btn-send").click(function () {
            var HTML_Width = $("#body-content").width();
            var HTML_Height = $("#body-content").height();
            var top_left_margin = 1;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
            html2canvas($("#body-content")[0], { allowTaint: false, useCORS: true, scrollY: -window.scrollY }).then(function (canvas) {
                var imgData = canvas.toDataURL();
                imgData.crossOrigin = "anonymous";
                var pdf = new jsPDF('p', 'px', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width.toString(), PDF_Height.toString());
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                var file_name = "Mail Room Report " + currMonth + " " + currYear + ".pdf";
                pdf.save(file_name);
            });
        });
        $('#sendModal').modal({
            backdrop: false,
            keyboard: false
        });
        $('.modal-title').html('Send Attendance Report');

        $('[name="KPK1"]').attr("required", "required");
        $('[name="uploadedfile"]').attr("required", "required");
        $('[name="Name"]').attr("required", "required");

        $('.modal-dialog').addClass('modal-sm');
        $('.modal-dialog').removeClass('modal-sm');
        $('#btnactivity').html('Save');
        $('.hapus').addClass('d-none');
        $('.input').removeClass('d-none');
        $('#frmSendEmail').attr('action', '/Intern/SendEmail');
        $('#btnSend').click(function () {
            var input = document.getElementById("encryptfilefield");
            var max_img_size = 2097152;
            // check for browser support (may need to be modified)
            if (input.files && input.files.length == 1) {
                if (input.files[0].size > max_img_size) {
                    swal("Oops...!", "The file must be less than " + (max_img_size / 1024 / 1024) + "MB", "error");
                    return false;
                }
            }
            swal({
                title: "Send Email...",
                text: "Please wait",
                icon: "/Content/images/icon/loading2.gif",
                button: false,
                showConfirmButton: false,
                allowOutsideClick: false
                //icon: "success"
            });
        });
    }

</script>
