@{
    ViewBag.Title = "Download Report"; Layout = "~/Views/Shared/_DashboardIntern.cshtml";
}
<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
             data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
             class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                Dashboard
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">@ViewBag.title</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <div class="row profile-body">
            <!-- middle wrapper end -->
            <div class="col-xl-8 col-xl-12 middle-wrapper mt-3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header bg-header">
                                <div class="card-title bg-header text-center text-white mb-0">
                                    <h4>Attendance Report</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (TempData["AllertSuccess"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            Swal.fire({
                                                text: '@TempData["AllertSuccess"]',
                                                icon: "success",
                                                buttonsStyling: false,
                                                confirmButtonText: "Ok, got it!",
                                                customClass: {
                                                    confirmButton: "btn btn-primary"
                                                }
                                            });
                                        };
                                    </script>
                                }
                                @if (TempData["AllertError"] != null)
                                {
                                    <script type="text/javascript">
                                        window.onload = function () {
                                            Swal.fire({
                                                text: '@TempData["AllertError"]',
                                                icon: "error",
                                                buttonsStyling: false,
                                                confirmButtonText: "Ok, got it!",
                                                customClass: {
                                                    confirmButton: "btn btn-danger"
                                                }
                                            });
                                        };
                                    </script>
                                }
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <form action="#" c>
                                                    <div class="d-flex align-items-center">
                                                        <!--begin::Input group-->
                                                        <div class="position-relative w-md-300px me-md-2">
                                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                            <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->
                                                            <input type="date" name="FromDate" id="FromDate" class="form-control form-control-solid ps-10" value="" />
                                                        </div>
                                                        <div class="position-relative w-md-300px me-md-2">
                                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                            <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->
                                                            <input type="date" name="FromDate" id="ToDate" class="form-control form-control-solid ps-10" value="" />
                                                        </div>
                                                        <div class="position-relative w-md-300px me-md-2">
                                                            <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                                            <span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->
                                                            <select id="statusapproval" name="statusapproval"
                                                                    class="form-select-solid form-select ps-10">
                                                                <option value="">Status Approval</option>
                                                                <option value="1">Waiting</option>
                                                                <option value="2">Approved</option>
                                                            </select>
                                                        </div>
                                                        <!--end::Input group-->
                                                        <!--begin:Action-->
                                                        <div class="d-flex align-items-center">
                                                            <button type="button" class="btn btn-primary me-md-2 btn-icon"><i class="las la-search fs-2 me-2"></i></button>

                                                            <button class="btn btn-success" type="button"
                                                                    data-bs-toggle="collapse" data-bs-target="#collapseExample"
                                                                    aria-expanded="false" aria-controls="collapseExample">
                                                                <i class="las la-cloud-download-alt fs-2 me-2"></i>Download Report
                                                            </button>
                                                        </div>
                                                        <!--end:Action-->
                                                    </div>
                                                </form>
                                                <div class="row">
                                                    <div class="col-5 mr-5">
                                                        <div class="collapse" id="collapseExample" style="">
                                                            <div class="separator separator-dashed mt-9 mb-6"></div>
                                                            <div class="card card-body">
                                                                <form action="/Intern/ProcessForm" id="frmPeriode"
                                                                      method="post">
                                                                    <div class="row">
                                                                        <div class="col-6">
                                                                            <label>Start Date</label>
                                                                            <input type="date" name="FromDateReport"
                                                                                   id="FromDateReport" class="form-control"
                                                                                   required />
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <label>End Date</label>
                                                                            <input type="date" name="ToDateReport"
                                                                                   id="ToDateReport" class="form-control"
                                                                                   required />
                                                                        </div>
                                                                    </div>
                                                                    <div class="row mt-5">
                                                                        <div class="col-12">
                                                                            <input type="submit" id="fileUploadExcel"
                                                                                   onclick="return validateData()"
                                                                                   class="btn btn-sm btn-block btn-primary"
                                                                                   value="Download" />
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                                         aria-labelledby="home-line-tab">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered" id="DownloadReportAtn">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" rowspan="2">
                                                                            Periode
                                                                        </th>
                                                                        <th class="text-center" rowspan="2">
                                                                            <i data-feather="file"></i>
                                                                        </th>
                                                                        <th class="text-center" rowspan="2">Date Upload</th>
                                                                        <th colspan="2" class="text-center">Approval</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <th class="text-center">Mentor</th>
                                                                        <th class="text-center">Manager</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Page end  end-->
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
<script>
    $(document).ready(function () {
        var min_date = $("#FromDate").val();
        var max_date = $("#ToDate").val();
        var statusapproval = $("#statusapproval").val();

        var t = $("#DownloadReportAtn").DataTable({
            searching: true,
            processing: true,
            scrollY: 670,
            scrollX: true,
            autoWidth: false,
            scrollCollapse: false,
            paging: false,
            order: false,
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excelHtml5',
                customize: function (xlsx) {
                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                    $('row', sheet).each(function (x) {
                        if ($('c[r=G' + x + '] t', sheet).text() === 'ABS') {
                            $('row:nth-child(' + x + ') c', sheet).attr('s', '19');
                        }
                        else if ($('c[r=G' + x + '] t', sheet).text() === 'Public Holiday') {
                            $('row:nth-child(' + x + ') c', sheet).attr('s', '19');
                        }
                        else if ($('c[r=G' + x + '] t', sheet).text() === 'TIMEOFF') {
                            $('row:nth-child(' + x + ') c', sheet).attr('s', '35');
                        }
                    });
                }

            }],
            initComplete: function () {
                var btns = $('.dt-button');
                btns.addClass('btn  alert-primary d-none');
                btns.removeClass('dt-button');
                btns.text('Download Report')
            },
        });
        $("#download_attendance").click(function () {
            $("#MasterAttendanceIntern").table2excel({
                exclude: ".trs",
                name: "Worksheet Name",
                filename: "Master Attendance",
                fileext: ".xlsx",
                preserveColors: true,
                exclude_img: true
            });
        });
        t.columns.adjust().draw();
        loadData(min_date, max_date, statusapproval);

        // function to load data
        function loadData(min_date, max_date, statusapproval) {
            //swal({
            //    title: "Loading...",
            //    text: "Please wait",
            //    icon: "/Content/images/icon/loading2.gif",
            //    button: false,
            //    showConfirmButton: false,
            //    allowOutsideClick: false
            //    //icon: "success"
            //});
            return $.ajax({
                url: "/Intern/ListDownloadReportIntern?min_date=" + min_date + "&max_date=" + max_date + "&statusapproval=" + statusapproval,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //swal("Success", 'You have sucessfully...', "success");
                    var html = '';
                    var counter = 1;

                    // delete existing row if any
                    t.clear().draw();

                    $.each(data, function (key, item) {
                        var string = moment(item.Periode, 'MM/DD/YYYY').format("MMMM-YYYY")
                        html += '<tr class="itemRow text-black">';
                        html += '<input type="hidden" class="KPKValue" name="KPKValue" value="' + item.KPK + '" />'
                        html += '<td class="text-center">' + string + '</td>';
                        html += '<input type="hidden" class="NameValue" name="NameValue" value="' + item.INTERNNAME + '" />'
                        html += '<td>' + item.FilePatch + '</td>';
                        html += '<input type="hidden" class="FilePatchValue" name="FilePatchValue" value="' + item.FilePatch + '" />'
                        html += '<td class="text-center">' + item.DateSend + '</td>';
                        html += '<input type="hidden" class="DateSendValue" name="DateSendValue" value="' + item.DateSend + '" />'
                        if (item.DateApprovedMentor == null || item.DateApprovedMentor == "") {
                            html += '<td class="text-center"><button type="button" class="btn btn-sm btn-danger")">WAITING</button></td>';
                        }
                        else {
                            html += '<td class="text-center"><button type="button" class="btn btn-sm btn-primary">APPROVED</button></td>';
                        }
                        if (item.DateApprovedManager == null || item.DateApprovedManager == "") {
                            html += '<td class="text-center"><button type="button" class="btn btn-sm btn-danger">WAITING</button></td>';
                        }
                        else {
                            html += '<td class="text-center"><button type="button" class="btn btn-sm btn-primary">APPROVED</button></td>';
                        }

                        html += '</tr>';
                        counter++;
                    });

                    t.rows.add($(html)).draw();
                    t.columns.adjust().draw();
                },
                error: function (textStatus, status) {
                    console.log(textStatus);
                    console.log(status);
                }
            });
        }

        $("#statusapproval").change(function () {
            var statusapproval = $(this).val();
            var min_date = $("#FromDate").val();
            var max_date = $("#ToDate").val();
            loadData(min_date, max_date, statusapproval);
        });
        $('#btnSearch').click(function () {
            var statusapproval = $("#statusapproval").val();
            loadData($("#FromDate").val(), $("#ToDate").val(), statusapproval);
        });
    });
    function selectAll() {
        $(':checkbox').each(function () {
            this.checked = true;
        });
    }
    function resetAll() {
        $(':checkbox').each(function () {
            this.checked = false;
        });
    }
    function validateData() {
        if ($('[name="FromDateReport"]').val() != "") {
            Swal.fire("Congratulations!!", "Your file is downloaded", "success");
            return true;
        }
        else if ($('[name="FromDateReport"]').val() == null) {
            Swal.fire("Date Selection Was Empty!!", "Please select date", "error");
            return false;
        }
        else {
            Swal.fire("Date Selection Was Empty!!", "Please select date", "error");
            return false;
        }
    }
</script>
<script>
    //function filePDF(file) {
    //    $('#filePDF').click(function () {
    //        var File = file,
    //            iframe = $('iframe');
    //        iframe.attr('src', '/AttendanceIntern/' + File);
    //    });
    //};
    function urlChange(url) {
        var site = url + '?toolbar=0&amp;navpanes=0&amp;scrollbar=0';
        document.getElementById('pdfFile').src = site;
    }

</script>