
@{
    ViewBag.Title = "SuccessApprov";
    Layout = "~/Views/Shared/_ReportProblem.cshtml";
}

<div class="row">
    <div class="col-xl-12">

        <!-- Traffic sources -->
        <div class="card mb-0">
            <div class="card-header text-center row">
                <div class="col-12">
                    <div class="card-header text-center row">
                        <div class="col-12 mb-2 mt-4">
                            <img style="height:7rem;border-radius:5px" src="~/Content/images/Mattel_logo.png" alt="" class="p-1 pt-2 pb-2">
                        </div>
                        <div class="col-12 mb-4">
                            <h4>
                                ATTENDANCE REPORT INTERN<br>
                                PT. MATTEL INDONESIA
                            </h4>
                            <i>Cikarang, Harja Mekar, Kec. Cikarang Utara, Bekasi, Jawa Barat 17530</i>
                        </div>
                    </div>
                    <hr class="mt-0"></hr>
                    <h4 class="card-title mt-4 mb-4">
                        <img src="~/Content/Images/Icon/like.png" alt="Alternate Text" class="icon-xxl" /><br><br>
                        Thank you for the confirmation.<br>
                    </h4>
                </div>
            </div>
        </div>
        <!-- /traffic sources -->

    </div>
</div>

