@model HRIS_Employee.Models.Departement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Departement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEPT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPT_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DEPT_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
